body{
    overflow-x: hidden;
}
.hedar-shadow{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 70px;
width: 100%;
}
.shadow-one{
    width: 100%;
   box-shadow:  0 5px 8px rgba(0, 0, 0, .08);
}
.heder{
    width: 100%;
    max-width: 1400px;
    margin: auto;
  
}
.top-head{
    width: 100%;
    display:flex;
position: relative;
align-items: center;
height: 70px;
justify-content: space-between;

}
.hover-box {
    position: absolute;
    top: 70px;
right: 5%;    
background-color: white;    
    border-radius: 6px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none; 
    width: 50%;

  }
  
  .show {
    display: block; 
  }
  .head-inp{
    width: 37%;
    display: flex;
align-items: center; 
position: relative;
left: 7.5%;
}
.head-inp img{
 position: relative;
 right: 6%;
}
.inp::placeholder{
    color: rgba(0, 0, 0, 0.377);
        font-weight: bold;
}
  .inp{
    width: 100%;
    min-height: 48px;
    border-radius: 24px;
    padding: 0 40px 0 24px;
    font-family: "Libre Franklin", Arial, sans-serif;
    border: none;
    background-color: #F6F6F6;
    font-weight: bold;
    font-size: 14px;
  }
  .head-text{
    display: flex;
    align-items: center;
    gap: 45px;
  }
  .head-text span{
    display: flex;
    gap: 15px;
  }
.hover-boxone{
    position: absolute;
    top: 70px;
right: 7.5%;    
background-color: white;    
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none; 
    width: 15%;
    z-index: 1000;
}
.showone{
    display: block;
}
.hover-boxone p{
    padding: 16px 24px;    margin: 0;
    color: #373A3C;
    border-radius: 6px 6px 0px 0px;
    font-weight: 500;

}
.hover-boxone p:hover{background-color:rgba(0, 0, 0, 0.037);
    text-decoration:underline;
   color: #2E469D;
}
.head-text span{
    height: 65px;
    display: flex;
    align-items: center;
    color: #373A3C;
    font-weight: 500;
    font-size: 16px;
}

.head-text span:hover{   color: #2E469D;
    border-bottom: 2px solid #2E469D; 
}
.hover-boxtow {
    position: absolute;
    left: 86%;
    top: 70px;
background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    width: 15%;
    z-index: 1000;
}

.show-tow {
    display: block; 
}
.hover-boxtow p{
    padding: 16px 24px;    margin: 0;
    color: #373A3C;
    border-radius: 6px 6px 0px 0px;
    font-weight: 500;
}
.hover-boxtow p:hover{background-color:rgba(0, 0, 0, 0.037);
    text-decoration:underline;
   color: #2E469D;
}
.but-img{
    position: relative;
    left: 10px;
}
.bottom-head{
    width: 100%;
    display:flex;
position: relative;
align-items: center;
height: 65px;
justify-content: center;
gap: 55px;

}
.text-span{
    font-size: 17.5px;
    font-weight: 500;
    color: #373A3C;
}
.show-hover{
    position: absolute;
    top: 100%;
    background: #F4FCFE;    display: none;
    width: 105%;
    padding: 24px;
}
.show-hover-one{
    display: block;
}
.box-head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-head h3{
    font-size: 17px;
    font-weight: bolder;
    color: #2E469D;
}
.box-head h5{
    font-size: 14px;
    color: #373A3C;

}
.text-span{
    height: 60px;
    display: flex;
    align-items: center;
}
.text-span:hover{
    border-bottom: 3px solid #2E469D; 
}
.box-head-one{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.text-box{
    display: flex;
    justify-content: center;
    gap:  100px;
}
.text-box h3{
    font-size: 17px;
    font-weight: bolder;
    color: #2E469D;
    margin: 0;
}
.text-box h5{
    font-size: 13.5px;
    color: #373A3C;
margin: 5px 0px;
}
.box-head-tow{
    display: flex;
    justify-content: center;
    align-items: center;
gap: 45px;
}
.text-box-one{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.text-box-one h3{
    font-size: 17px;
    font-weight: bolder;
    color: #2E469D;
    margin: 0;
}
.text-box-one h5{
    font-size: 13.5px;
    color: #373A3C;
margin: 5px 0px;
}
.box-head-three{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.text-box-fuor{
    display: flex;
    justify-content: center;
    gap: 100px;
    position: relative;
    right: 2%;
}
.text-box-fuor h3{
    font-size: 17px;
    font-weight: bolder;
    color: #2E469D;
    margin: 0;
}
.text-box-fuor h5{
    font-size: 13.5px;
    color: #373A3C;
margin: 5px 0px;
}
.container{
    background-color: #C3E6D0;
    padding: 70.5px 0;
}
.home-head{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: flex;
   gap: 135px;
}
.home-span {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home-span h1{
    color: #2E469D;
    font-size: 58px;
    font-weight: 800;
    margin: 0;
}
.home-span h3{
    color: #373A3C;
    font-weight: 500;
    font-size: 20px;
}
.home-span button{
    color: #2E469D;
         padding: 24px 40px;
         font-size: 16px;
    font-weight: bolder;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: white;
    transition: all .3s ease-in-out;
    width: 65%;
    margin-top: 40px;
}
.home-span button:hover{
    background-color: #2E469D;
    color: white;
}
.text-botto{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    font-size: 14px;
    color: #373A3C;
    font-weight: 500;
}
.home-bottom{
    width: 100%;
    max-width: 1400px;
    margin: auto; 
    display: flex;
    justify-content: space-between;
}
.head-but-fix{
    position: fixed;
    right: 25px;
    bottom: 30px;
    z-index: 999;
}
.but-fix{
    
    background-image: url('./Pictures/livechat.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    background-color: #2E469D;
    padding: 23px 45px 25px 80px;
    border-radius: 48px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    border: none;
    background-size: 33px 33px;
    background-position:40px 14px;
cursor: pointer;
font-family: 'Vazir', sans-serif;
transition: all 1s ease;

}
.but-fix:hover{
    background-color: RGB(110, 132, 182);
}
.container-one{
    background-color: #F6F6F6;
   padding-top: 120px;
    padding-bottom: 60px;

}
.h-text h2{

font-size: 48px;
color: #2E469D;
text-align: center;
font-weight: bold;
margin-top: 0;

}
.product{
    width: 100%;
    max-width: 1400px;
    margin: auto; 
    display: flex;
    text-align: center;
}
.product div{
width: 50%;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 10px;
transition: all 0.3s ease-in-out;
}
.product div:hover{
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
    background-color: #fff;

}
.product div h2{
    color: #2E469D;
    font-size: 29px;
    cursor: pointer;
    font-weight: bolder;
    margin-bottom: 0px;

}
.product div h2:hover{
    text-decoration:underline;
}
.product div h4{
    color: #2E469D;
    cursor: pointer;cursor: pointer;
font-weight: 600;
font-size: 17px;
margin-top: 22px;
transition: all 0.3s ease-in-out;

}
.product div h4:hover{
    text-decoration: underline;
      color: #1BDFC7;
}
.product div button{
    padding: 24px 40px;
width: max-content;
    border-radius: 50px;
    color: #2E469D;
    background-color: white;
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    

}

.product div h2::before{
    content: "";
    display: block;
    width: 32px;
    height: 3px;
    background-color: #1BDFC7;
    margin: 0 auto 14px;}
    .product div button:hover{
      background-color: #2E469D;
      color: white;
    }
    .product div:hover button{
        background-color: #F6F6F6;
        margin-top: 20px;
    }
    .product div:hover button:hover{
        background-color: #2E469D;
    }
    .product div span{
        display: none;
        color: #373A3C;
        font-size: 17px;
    }
    .product div:hover span{
        display: block;
       
    }
    .product div:hover .opacity-product{
        opacity: 0;
    }


.product div span{
    position: relative;
 
}
.product div span img{
    position: absolute;
bottom: 220px;
cursor: pointer;

transform: translate(-50%, -50%);
}
.productone{
    height: 660px;
}
.producttow{
    height: 660px;
}
.productthree{
    height: 680px;
}
.productfuor{
    height: 700px;
}

.econoflex-img{
  margin-bottom: 50px;
}
.container-tow{
    width: 100%;
    max-width: 1270px;
    margin: auto; 
    
}
.container-tow h1{
    text-align: center;
    color: #2E469D;
    font-size: 44px;
    font-weight: bold;
}
.container-tow h3{
    text-align: center;
    color: #373A3C;
    font-weight: 500;
    font-size: 22px;
   margin-bottom: 40px;
}
.circle{
    position: absolute;
    z-index: -1;
left: 100px;
bottom: 550px;
}
.circle-span{
    position: relative;
}
.head-container-tow{
    padding-top: 100px;
    padding-bottom: 20px;
}
.screen-img{
    filter: drop-shadow(0 0 24px rgba(0, 0, 0, .16));

}

.triangle{
    position: absolute;
    z-index: -1;
right: -115px;
    bottom: 485px;
}
.triangle-span{
    position: relative;
    display: flex;
    justify-content: end;
}
.lines{
    position: absolute;
    z-index: -1;
    left: 100px;
    bottom: -200px;
}
.lines-span{
    position: relative;
}
.span-btn-get{
    display: flex;
    justify-content: center;
position: relative;
margin-top: 30px;
}
.btn-get{
  
    padding: 23px 40px;  
    border-radius: 50px;
    background-color: #F6F6F6;
    color: #2E469D;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn-get:hover{
background-color: #2E469D;
color: white;
}
.head-top-img{
    width: 100%;
    max-width: 1400px;
    margin: auto; 
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 75px;
}
.head-top-img span h2{
    color: #2E469D;
    font-weight: bold;
    font-size: 26px;
    margin-top: 50px;
}
.head-top-img span h3{
    color: #373A3C;
    font-size: 20px;
    font-weight: 500;
}
.head-top-img span{
    transition: transform 0.3s ease-in-out;

}
.head-top-img span:hover{
    transform: translateY(-5px);
}


.head-container-three{
    background-color: #FFF8ED;
    padding-top: 90px;
    padding-bottom: 120px;
}
.container-three h1{
    color: #2E469D;
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    margin-bottom: 0;
}
.container-three h3{
    color: #373A3C;
    font-weight: 500;
text-align: center;
font-size: 20px;
margin-bottom: 45px;
}
.container-three span{
 display: flex;
 justify-content: center;
}
.container-four{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    gap: 25px;
}
.container-four div{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.container-four-span-img img{
    width: 330px;
    height: 330px;
}
.container-four-span-imgone img{
    width: 684px;
    height: 684px;
}
.container-four-span-img{
    display: flex;
    gap: 25px;
}
.container-four-text{
    color: #2E469D;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.container-four-textone{
    color: #373A3C;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 90px;
}

.hover-text-span{
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
    background-color: rgba(46, 70, 158, .85);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
  opacity: 0;
    transition: opacity 0.3s ease;

}
.card-img:hover .hover-text-span{
    opacity: 1;
    box-shadow:  0 5px 8px rgba(0, 0, 0, .08);
}
.hover-text-span  h2::before{
    content: "";
    display: block;
    width: 32px;
    height: 4px;
    background-color: #1BDFC7;
    margin: 0 auto 14px;

}
.hover-text-span h2{
    color: white;
font-size: 32px;
}
.hover-text-span h5{
    color: white;
    transition: transform 0.3s ease-in-out;
}
.hover-text-span h5:hover{
    color: #1BDFC7;
}
.card-img{
    position: relative;
    width: 330px;
    height: 330px;
    overflow: hidden;
 
}

.card-imgone{
    position: relative;
    width: 684px;
    height: 684px;
    overflow: hidden;
   

}
.card-imgone:hover .hover-text-span{
    opacity: 1;
    box-shadow:  0 5px 8px rgba(0, 0, 0, .08);
}
.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 

}
.card-imgone, .container-four-span-imgone {
    display: block;
} 
.head-container-four{
    padding-top: 90px;
}